.line1 {
    border-width: 0.17rem;
    border-style: solid;
    width: 80%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-color: #88E788;
    opacity: 1;
}

.navGroupButton{
    background-color: #88E788;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    padding: 15px 30px;
    size: 1.5rem;
    opacity: 1;
}

#background-img {
    background-image: url('../images/cat.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh; 
  }

#description{
    background-color: #F3F2ED;
    opacity: 0.65;
}

#text{
    padding: 13px;
}

